<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

<bean id="orderService" class="com.xtgj.j2ee.chapter09.demo.OrderServiceBean">
		<property name="lists">
			<list>
				<value>Tom</value>
				<value>Lily</value>
				<value>Jacky</value>
			</list>
		</property>
		<property name="sets">
			<set>
				<value>Tom</value>
				<value>Lily</value>
				<value>Jacky</value>
			</set>
		</property>
		<property name="maps">
			<map>
				<entry key="Tom" value="28" />
				<entry key="Lily" value="29" />
				<entry key="Jacky" value="30" />
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="11">Tom</prop>
				<prop key="12">Lily</prop>
				<prop key="13">Jacky</prop>
			</props>
		</property>
	</bean>

</beans>